header {
    position: relative;
    height: 10%;
    background-color: $deep-purple;
    z-index: 2;
}

#header-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17vh;
}

#logo-letter {
    width: 100%;
}

#logo-egg {
    width: 70%;
    position: relative;
    margin-top: -14%;
}

.links-container-desktop {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links-desktop {
    color: $gold;
    -webkit-text-stroke: 1px $deep-purple;
    font-family: 'Sancreek', serif;
    font-size: 1.5vmax;
    display: none;
}

.menu-button {
    position: absolute;
    width: 7vmax;
    height: 7vmax;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
}

.button-active {
    background-color: $light-purple;
}

#menu-image {
    width: 60%;
}

@media only screen and (min-width: 768px) {
    #header-container {
        justify-content: space-between;
        align-items: center;
    }
    
    #logo-container {
        align-self: first baseline;
    }
    
    .nav-links-desktop {
        display: block;
    }
    
    .menu-button {
        display: none;
    }
}