header {
    position: relative;
    height: 10%;
    background-color: $deep-purple;
    z-index: 2;
}

#header-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17vh;
}

#logo-letter {
    width: 100%;
}

#logo-egg {
    width: 70%;
    position: relative;
    margin-top: -14%;
}

#menu-button {
    position: absolute;
    width: 4vh;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
}

#menu-image {
    width: 100%;
}