#nav-mobile {
    width: 100%;
    background-color: $light-purple;
    height: 52vh;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 100%;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

#menu-links-container-mobile {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.menu-links-mobile {
    color: $gold;
    -webkit-text-stroke: 1px $deep-purple;
    font-family: 'Sancreek', serif;
    font-size: 2.5vmax;
    margin-bottom: 1vh;
}

.social-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-image {
    height: 4vh;
}